html,
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  background: #9bafa4;
}

body {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0;
}

header {
  margin-bottom: 10px;
}

.logo {
  float: left;
  margin-right: 30px;
}

nav {
  float: left;
  min-width: 680px;
  margin-right: 25px;
}
nav a {
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.navigation li {
  display: inline-block;
  margin-right: 29px;
  font-size: 0;
}

.navigation li a {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.subpages li {
  display: none;
}

.subpages li a {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.search {
  float: left;
  min-width: 45px;
  margin-right: 10px;
}

.user-login {
  float: left;
  min-width: 95px;
  margin-right: 10px;
}

.login-form {
  display: none;
}

.basket {
  min-width: 120px;
}

.in-basket {
  display: none;
}

.timing-phone .catalogue {
  display: inline-block;
  width: 170px;
  clear: both;
  float: right;
}

.btn {
  font-size: 18px;
  line-height: 24px;
}

.slider {
  position: relative;
  width: 1146px;
  min-height: 535px;
  padding-top: 280px;
  margin: 0 auto;
  text-align: center;
  background-image: url("../img/gimmi-two.png") no-repeat;
 }

.slider .timing-phone {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 170px;
}

.slider-slogan {
  font-size: 60px;
  line-height: 65px;
  position: absolute;
  bottom: 100px;
  left: 240px;
}

.big {
  width: 280px;
  height: 65px;
  position: absolute;
  bottom: 0;
  left: 430px;
}

.flip-block {
  position: absolute;
  left: 0;
  bottom: 25px;
}

.flip-block a {
  padding-right: 10px;
}

.interplay {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  min-height: 230px;
}

.banner-left {
  width: 560px;
  height: 230px;
  float: left;
  background-image: url("../img/banner-left.png") no-repeat;
}

.banner-right {
  width: 560px;
  height: 230px;
  float: right;
  background-image: url("../img/banner-right.png") no-repeat;
}

h2 {
  font-size: 35px;
  line-height: 41px;
}

banner-left-description,
.banner-right-description {
  font-size: 18px;
  line-height: 22px;
}

.interplay a {
  width: 165px;
  height: 50px;
  padding-top: 40px;
  padding-left: 350px;
}


.gallery {
  margin-top: 40px;
  margin-bottom: 40px;
}

.item {
  float: left;
  width: 270px;
  margin-right: 25px;
  min-height: 325px;
}

.item:nth-child(4n) {
  margin-right: 0;
}

.features {
  margin-bottom: 40px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}

.feature-list {
  width: 1105px;
  min-height: 200px;
}

.feature {
  display: inline-block;
}

.feature .block1 {
  float: left;
}

.feature .block2 {
  float: right;
}

.feature-description {
  width: 540px;
  padding-right: 10px;
}

.map {
  background-image: url("../img/map.png") no-repeat;
}

.contacts {
  float: right;
  width: 305px;
  margin-bottom: 60px;
}

.contacts p {
  font-size: 14px;
  line-height: 20px;
}

.contacts b {
  font-size: 18px;
  line-height: 24px;
}

/* стили catalogue */
.categories {
  margin-bottom: 40px;
}
.category-selectors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.category-area {
  margin-right: 15px;
}

.category-area:nth-child(1) {
  flex-basis: 195px;
}

.category-area:nth-child(2) {
  flex-basis: 220px;
}

.category-area:nth-child(3) {
  flex-basis: 415px;
}

.category-area:nth-child(4) {
  flex-basis: 700px;
}

.category-area label {
  margin-right: 20px;
}

.category-area-bordered {
  flex-basis: 145px;
}

.pages {
  margin-bottom: 30px;
}
.pagination {
  float: right;
}

.pagination li {
  display: inline-block;
  width: 25px;
  margin-right: 5px;
}

footer {
  padding-top: 35px;
  padding-bottom: 30px;
}

.footer-social {
  float: left;
  margin-right: 180px;
}

.footer-social a {
  display: inline-block;
  min-width: 40px;
  margin-right: 10px;
}

.footer-social a:last-child {
  margin-right: 0;
}

.footer-links {
  float: left;
  margin-right: 180px;
}

.footer-links ul {
  display: inline-block;
 }

.footer-link-left,
.footer-link-right {
  width: 140px;
}

.footer-links span {
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
}

.footer-copyright {
  float: right;
  min-width: 200px;
}

.footer-copyright p {
  font-size: 13px;
  line-height: 18px;
}
